* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    background-color:antiquewhite;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 40px 0;
}

.header-text {
    font-size: 24px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item button{
    margin-right: 20px;
    background-color: #4CAF50;
    padding: 15px;
    /* width: 60px; */
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    user-select: none;
}

.menu-item a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.home-gif {
    margin-top: 15px;
}

.sign-up-form {
    background-color: rgb(240, 225, 205);
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 150px auto;
    width: 400px;
    font-size: 21px;
    font-weight: 600;
}

.sign-up-form input {
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}

.pass-creation input{
    width: 250px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}

.pass-validation-label {
    font-size: 17px;
    font-weight: 600;
}

.pass-requirement-list{
    list-style: none;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}

.valid{
    color: green;
}

.uncheck {
    color: red;
} 

.sign-up-form button[type="submit"] { 
    margin-left: 55px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up-form #submit-btn:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.tab-button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    user-select: none;
}

.tab-button.active {
    color: blue;
    border-bottom: 2px solid blue;
}

.tab-content {
    display: none;
    width: 100%;
}

.main-content .container{
    width: 1200px;
}


.tab-content.active {
    display: flex;
    justify-content: center;    
    flex-flow: column;
    margin-bottom: 20px;
}

.tab-content.active table {
    border-collapse: collapse;
}

.leaderboard-table th {
    border-bottom: 3px solid blue;
    width: 20%;
}

.leaderboard-table td {
    border: 2px solid gray;
    text-align: center;
    width: 20%;
}

.statistics-general {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.statistics-general p {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.statistics-games {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

.statistics-games table {
    border-collapse: collapse;
}

.statistics-games label {
    margin-bottom: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.statistics-games th {
    width: 30%;
    border-bottom: 3px solid blue;
}

.statistics-games td {
    text-align: center;
    border: 2px solid gray;
}

/*common header*/
/* .header-wrap{
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    box-sizing: border-box;
}
.header-logo{
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    list-style: none;
}
.menu li{
    margin-left: 7px;
}
.menu button {
    text-align: center;
    padding: 8px 16px;
}

/*home buttons*/
/* .login-btn {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.login-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.sign-up-btn {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.sign-up-btn:hover {
    background-color: #008CBA;
    color: white;
} 

.logout-btn {
    width: 100px;
    height: 35px;
}

.go-to-dashboard-btn {
    width: 100px;
    height: 35px;
} */

/* .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up-form label{
    margin-top: 10px;
    margin-bottom: 5px;
}


.sign-up-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up-form ul {
    list-style-type: none;
    margin-left: 20px;
}

.sign-up-form li {
    margin-bottom: 10px;
}

.eyeImage {
    width: 14px;
    height: 10px;
}
*/

/*leaderboard*/
 /* .tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/*statistics games table*/
/* .scrollable-table {
    max-height: 300px; set maximum height
    overflow: auto; enable scroll bar if content is too tall
} */

/* .scrollable-table table {
    border-collapse: collapse;
    width: 80%;
}

.scrollable-table th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.scrollable-table p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
} */