<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/leaderboardScript.js}" type="module"></script>
</head>

<body>
    <section class="main">
        <header class="header">
            <div class="container">
                <div class="logo">
                    <img th:src="@{/images/logo.png}" alt="2048 logo">
                </div>
                <div class="tab-buttons">
                    <button class="tab-button active" data-tab="tab1">By Score</button>
                    <button class="tab-button" data-tab="tab2">By Time</button>
                </div>
                <nav class="menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <!-- <a href="/dashboard">Back</a> -->
                            <form action="/dashboard">
                                <button type="submit">Back</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="main-content">
            <div class="container">
                <div class="tabs">
                    <div class="tab-content active" id="tab1">
                        <table class="leaderboard-table">
                            <tr>
                                <th>Position</th>
                                <th>Username</th>
                                <th>Max Score</th>
                                <th>Fastest Lose</th>
                                <th>Registration Date</th>
                            </tr>
                            <tr th:each="leader, index : ${leadersByScore}">
                                <td th:text="${index.count}">1</td>
                                <td th:text="${leader.username}">username</td>
                                <td th:text="${leader.maxScore}">maxScore</td>
                                <td th:text="${leader.fastestWin}">fastestWin</td>
                                <td th:text="${leader.registrationDate}">registrationDate</td>
                            </tr>
                        </table>
                    </div>

                    <div class="tab-content" id="tab2">
                        <table class="leaderboard-table">
                            <tr>
                                <th>Position</th>
                                <th>Username</th>
                                <th>Max Score</th>
                                <th>Fastest Lose</th>
                                <th>Registration Date</th>
                            </tr>
                            <tr th:each="leader, index : ${leadersByTime}">
                                <td th:text="${index.count}">1</td>
                                <td th:text="${leader.username}">username</td>
                                <td th:text="${leader.maxScore}">maxScore</td>
                                <td th:text="${leader.fastestWin}">fastestWin</td>
                                <td th:text="${leader.registrationDate}">registrationDate</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>